/* ==========================================================
   LSV EGGE - Startseite
   ========================================================== */

.lsv-home-section{
	margin-bottom:40px;
}

.lsv-home-grid{
	display:grid;
	gap:20px;
}
